<button
  class="w-full"
  (click)="onPressItem()"
>
  @if(active){
    <div
      [class]="activeClass"
    >
      <img [src]="data?.image_url_m" class="w-[50px] h-[50px] object-cover" />
      <p class="text-center mt-2 text-sm text-white">{{ data?.name }}</p>
    </div>
  }@else{
    <div
      [class]="containerClass"
    >
      <img [src]="data?.image_url_m" class="w-[50px] h-[50px] object-cover" />
      <p class="text-center mt-2 text-sm text-white">{{ data?.name }}</p>
    </div>
  }
</button>
