@if(data){
  <button class="flex flex-start justify-between w-full bg-white hover:bg-white/90 rounded-lg mt-3 p-5" (click)="onPressItem()">
    <div class="h-2.5 w-2.5 blur-[2px] mt-2.5 rounded-full bg-dark-primary "></div>
    <div class="ml-4 text-left flex flex-col flex-1">
      <div class="flex items-center justify-between gap-2 mb-2 ">
        <p class="text-lg font-medium text-dark-primary">{{ data.name }}</p>
        <p class="text-lg font-medium text-dark-primary">{{ data.price_net | currency }}</p>
      </div>
      <p class="text-black text-sm" [innerHTML]="data.description | safeHtml"></p>
    </div>
  </button>
  <service-buy/>
}
