<div class="p-5 relative">
  <div class="flex items-start justify-between mb-5">
    <div class="flex items-center flex-1">
      <img src="/images/logo.png" class="w-[60px] h-[60px]" />
      <div class="ml-4 text-white">
        <p class="text-xl font-medium">Hi, Customer</p>
        <p class="text-md">Welcome to MyBarbershop</p>
      </div>
    </div>
    <button
      class="text-white hover:text-primary"
      data-modal-target="modalSideBar"
      (click)="clickMenu()"
    >
      <bars-icon class="w-5 h-5"/>
    </button>
  </div>
  <div class="bg-white rounded-full py-2 px-4 flex items-center gap-x-3 text-black cursor-pointer">
    <search-icon class="w-5 h-5" />
    <p>search service</p>
  </div>
</div>
