<div id="modalProductBuy" tabindex="-1"
  class="fixed inset-0 z-50 hidden max-h-full w-full overflow-y-auto overflow-x-hidden md:inset-0 mx-auto max-w-screen-sm backdrop-blur-xl">
  <div class="fixed inset-x-0 bottom-0">
    <div class="bg-white dark:bg-slate-900 dark:text-white w-full mx-auto max-w-screen-sm p-5 rounded-t-2xl">
      <div class="flex text-sm">
        <div class="w-[112px]">
          <img
            [src]="data?.image_url_m"
            class="rounded-[10px] object-cover w-full h-[112px] md:h-[112px]"
          />
        </div>
        <div class="ml-4 justify-between flex-1 flex flex-col text-black">
          <div class="flex items-center justify-between">
            <p class="text-xl font-medium text-dark-primary line-clamp-1">{{ data?.name }}</p>
            <button class="text-neutral-500 hover:text-dark-primary -mt-5">
              <cross-icon class="w-[15px] h-[15px]" />
            </button>
          </div>
          <div class="text-sm">
            <div class="flex items-center justify-between border-b border-neutral-300 pb-2 mb-2">
              <p>Quantity</p>
              <input-quantity
                (onPlusEvent)="onPlus()"
                (onMinusEvent)="onMinus()"
                [value]="quantity"
              />
            </div>
            <div class="flex items-center justify-between ">
              <p>Total (include tax)</p>
              <p class="font-medium text-lg text-dark-primary">{{ total | currency }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full mt-5">
        <button
          class="bg-primary text-black rounded-lg w-full py-3 md:py-3  hover:bg-primary hover:bg-primary/80">
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
