@if (show) {
  <div class="fixed z-30 w-full h-16 max-w-xl -translate-x-1/2 bg-secondary rounded-full bottom-4 left-1/2 backdrop-blur-sm bg-opacity-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-3 mx-auto">
        <a routerLink="/" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-s-full text-white hover:text-primary dark:hover:bg-gray-800 group">
            <home-icon/>
            <span class="sr-only">Home</span>
        </a>
        <div class="flex items-center justify-center -mt-16">
            <button type="button" class="inline-flex items-center justify-center w-20 h-20 font-medium text-white bg-primary rounded-full hover:bg-primary/80 group focus:ring-4 focus:ring-primary focus:outline-none dark:focus:ring-primary">
                <basket-icon class="w-[30px] h-[30px]"/>
                <span class="sr-only">Cart</span>
            </button>
        </div>
        <a routerLink="/transaction" type="button" class="inline-flex flex-col items-center justify-center px-5 rounded-e-full text-white hover:text-primary dark:hover:bg-gray-800 group">
            <calendar-icon/>
            <span class="sr-only">Transaction</span>
        </a>
    </div>
  </div>

}
